@page
@using _0_Framework.Application
@model ServiceHost.Areas.Adminstration.Pages.Shop.Orders.IndexModel


@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "مدیریت سفارشات";
}

<div class="content">
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">جستجو سفارشات</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" method="get">
                @*      <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.AccountId"></label>
                        <select class="form-control" asp-for="SearchModel.AccountId" asp-items="Model.Accounts">
                            <option value="0">
                                 خریدار را انتخاب کنید ...
                            </option>
                        </select>
                    </div>*@
                <div class="form-group">
                    <input class="form-control" asp-for="SearchModel.IssueTrackingNo" placeholder="شماره پیگیری">
                </div>
               @* <div class="form-group">
                    <label class="sr-only" asp-for="SearchModel.AccountName" ></label>
                    <input class="form-control" asp-for="SearchModel.AccountName" placeholder="name">
                </div>*@
                    <div class="form-group">
                        <input class="form-control" type="checkbox" asp-for="SearchModel.IsCanceled"/>
                        <label asp-for="SearchModel.IsCanceled">
                            جستجو در پرداخت نشده ها
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                    <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست سفارشات : (@Model.Orders.Count)</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-hover table-responsive table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>خریدار</th>
                                    <th>کل مبلغ</th>
                                    <th>کل تخفیف</th>
                                    <th>پرداختی</th>
                                    <th>شماره پیگیری</th>
                                    <th>شناسه خرید</th>
                                    <th>تاریخ خرید</th>
                                    <th>وضعیت</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                             @foreach (var item in Model.Orders)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.AccountFullname</td>
                                        <td>@item.TotalAmount.ToMoney() تومان</td>
                                        <td>@item.DiscountAmount.ToMoney() تومان</td>
                                        <td>@item.PayAmount.ToMoney() تومان</td>
                                        <td>@item.IssueTrackingNo</td>
                                        <td>@item.RefId</td>
                                        <td>@item.CreationDate</td>
                                        <td>
                                            @if (item.IsCanceled)
                                            {
                                                <span class="text-danger">کنسل شده</span>
                                            }
                                            @if (item.IsPaid)
                                            {
                                                <span class="text-success">پرداخت شده</span>
                                            }
                                            @if(!item.IsCanceled && !item.IsPaid)
                                            {
                                                <span class="text-warning">در انتظار پرداخت</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsPaid == false)
                                            {
                                                <a class="btn btn-success btn-rounded waves-effect waves-light m-b-5" asp-page-handler="Confirm" asp-route-id="@item.Id">
                                                    <i class="fa fa-check"></i> تایید
                                                </a>
                                                <a class="btn btn-danger btn-rounded waves-effect waves-light m-b-5" asp-page-handler="Cancel" asp-route-id="@item.Id">
                                                    <i class="fa fa-close"></i> لغو
                                                </a>
                                            }
                                            <a class="btn btn-purple btn-rounded waves-effect waves-light m-b-5"
                                               href="#showmodal=@Url.Page("./Index", "GetItems", new {id = item.Id})">
                                                <i class="fa fa-shopping-bag"></i>  محصولات
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section Scripts {
    <script src="~/AdminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        });
    </script>

}
