@page "{id}"
@model ServiceHost.Pages.ArticleDetailsModel
@{
    ViewData["Title"] = "صفحه مقاله";
}

<div class="main-content main-content-blog single left-sidebar">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-trail breadcrumbs">
                <ul class="trail-items breadcrumb">
                    <li class="trail-item trail-begin">
                        <a asp-page="/Index">صفحه اصلی</a>
                    </li>
                    <li class="trail-item">
                        <a asp-page="/ArticleCategories" asp-route-id="@Model.Article.CategorySlug">@Model.Article.CategoryName</a>
                    </li>
                    <li class="trail-item trail-end active">
                        @Model.Article.Title
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
            <div class="content-area content-blog col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="site-main">
                    <div class="post-item">
                        <div class="post-format RightDirection">
                            <a href="#">
                                <img src="~/ProductPicture/@Model.Article.Picture" alt="@Model.Article.PictureAlt" title="@Model.Article.PictureTitle">
                            </a>
                        </div>
                        <div class="post-infor RightDirection">
                            <div class="category-blog">
                                <a href="#">@Model.Article.CategoryName</a>
                            </div>
                            <h1 class="post-title">
                                <a href="#">@Model.Article.Title</a>
                            </h1>
                            <div class="main-info-post">
                                
                                <p>
                                    @Html.Raw(Model.Article.Description)
                                </p>

                            </div>
                            <div class="main-info-post TopPadding">
                                
                                <span>
                                    نوشته شده در تاریخ :  @Model.Article.PublishDate
                                </span>

                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="tags tags-blog RightDirection">
                        <h3 class="widgettitle">
                            تگ ها :
                        </h3>
                        <ul class="tagcloud">
                           
                               @foreach (var tag in Model.Article.KeywordList)
                               {
                                   <li class="tag-cloud-link">
                                       <a asp-page="/Search" asp-route-value="@tag">@tag</a>
                                   </li>
                               }
                            
                        </ul>
                    </div>
                    <div class="view-share">
                        <div class="author-view">
                            <div class="author">
                                <h3 class="name">
                                    "برای رسیدن به بیشترین پتانسیل خود باید با بزرگترین ترس خود مبارزه کنید"
                                </h3>
                            </div>
                        </div>
                        <div class="share">
                            <h3 class="title">اشتراک گذاری</h3>
                            <i class="icon fa fa-facebook-square" aria-hidden="true"></i>
                            <i class="icon fa fa-instagram" aria-hidden="true"></i>
                            <i class="icon fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="comments-area RightDirection">
                        <h3 class="custom_blog_title">
                            نظرات <span class="count">(@Model.Article.Comments.Count)</span>
                        </h3>
                        <form method="post" class="comment-form-review">
                            <p class="comment-notes">
                                <span class="email-notes text-"><b>قسمت های ستاره دار الزامی می باشند</b></span>
                                <span class="required">*</span>
                                <br/>
                                <h5 class="email-notes">ایمیل تان در سایت نمایش داده نمی شود و محرمانه می باشد</h5>
                            </p>
                            <br/>
                            <p class="comment-form-comment" id="postComment">
                                <label>
                                    متن نظر
                                    <span class="required">*</span>
                                </label>
                                <textarea title="message" id="message"  name="message" cols="45"  rows="8" required ></textarea>
                            </p>
                            <p class="comment-form-author">
                                <label>
                                    نام و نام خانوادگی
                                    <span class="required">*</span>
                                        
                                </label>
                                <input title="name" id="name" name="name" type="text" value="" required>
                            </p>
                            <p class="comment-form-email">
                                <label>
                                    ایمیل
                                    <span class="required"></span>
                                </label>
                                <input title="email" id="email" name="email" type="email" value="">

                            </p>
                            <p class="form-submit">
                                <input name="submit" type="submit" value="ثبت نظر ارزشمندتان">
                            </p>
                            <input name="ownerRecordId" type="hidden" value="@Model.Article.Id">
                            <input name="ArticleSlug" type="hidden" value="@Model.Article.Slug">
                            <input name="parentId" id="commentParentId" type="hidden" value="">
                        </form>
                        <ul class="comment-list RightDirection">
                            @foreach (var item in Model.Article.Comments)
                            {
                                <li class="comment">
                                <div class="comment-item" id ="comment-@item.Id" >
                                    <div class="author-view">
                                        <div class="author">
                                            <div class="avt">
                                                <img src="~/ProductPicture/avartar.png" alt="img">
                                            </div>
                                            <h3 class="name">
                                                @item.Name
                                            </h3>
                                        </div>
                                        <div class="date-reply-comment">
                                            <span class="date-comment">
                                                @item.CreationDate
                                            </span>
                                            <a href="#postComment" class="btn btn-danger" onclick='$("#commentParentId").val(@item.Id)' >پاسخ</a>
                                        </div>
                                        @if (item.ParentId > 0)
                                        {
                                            <p>
                                                در پاسخ به : <a href="#comment-@item.ParentId">@item.ParentName</a>
                                            </p>
                                            <br/>
                                        }
                                    </div>
                                    <div class="comment-body">
                                        <div class="comment-content">
                                            <p>
                                                @item.Message
                                            </p>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                    <div class="pagination clearfix style1">
                        <div class="nav-link">
                            <a href="#" class="page-numbers"><i class="icon fa fa-angle-left"
                                                                aria-hidden="true"></i></a>
                            <a href="#" class="page-numbers">1</a>
                            <a href="#" class="page-numbers">2</a>
                            <a href="#" class="page-numbers current">3</a>
                            <a href="#" class="page-numbers"><i class="icon fa fa-angle-right"
                                                                aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar sidebar-single-blog col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="wrapper-sidebar">
                    <div class="widget widget-socials">
                        <h3 class="widgettitle">
                            ما را دنبال کنید
                        </h3>
                        <div class="content-socials">
                            <div class="social-list">
                                <a href="#" target="_blank" class="social-item">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                </a>
                                <a href="#" target="_blank" class="social-item">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#" target="_blank" class="social-item">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    
                    <div class="widget widget-categories RightDirection">
                        <h3 class="widgettitle">گروه مقالات</h3>
                        <ul class="list-categories">
                            @foreach (var item in Model.ArticleCategory)
                            {
                                <li>
                                    <a asp-page="/ArticleCategory" asp-route-id="@item.Slug">
                                        <label for="cb1" class="label-text">
                                            <span class="counter">تعداد مقالات این گروه: (@item.ArticlesCount)</span>
                                            <br/>
                                           <b> عنوان گروه مقاله : @item.Name</b>
                                        </label>
                                    </a>
                                    <hr/>
                                </li>
                            }
                        </ul>
                    </div>

                    @await Component.InvokeAsync("PopularArticles")
                    
                   

                    <div class="widget widget-tags ">
                        <h3 class="widgettitle">
                            محبوبترین واژگان
                        </h3>
                        <ul class="tagcloud RightDirection">
                            @foreach (var tag in Model.Article.KeywordList)
                            {
                                <li class="tag-cloud-link">
                                    <a asp-page="/Search" asp-route-value="@tag">@tag</a>
                                </li>
                            }
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>