@page "{id}"
@model ServiceHost.Pages.ArticleCategoriesModel
@{
    ViewData["Title"] = "گروه مقاله";
}

	<div class="main-content main-content-blog grid no-sidebar">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-trail breadcrumbs">
                        <ul class="trail-items breadcrumb">
                            <li class="trail-item trail-begin">
                                <a asp-page="/Index">صفحه اصلی</a>
                            </li>
                            <li class="trail-item trail-end active">
                                @Model.ArticleCategory.Name
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			<br/>
			<br/>
            <div class="row">
				<div class="content-area content-blog col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="site-main RightDirection">
                        <h1>
                            لیست گروه مقالات
                        </h1>
                        <br/>
                        <br/>
                        <div class="blog-list grid-style">
							<div class="row">
								@foreach (var item in Model.ArticleCategory.Articles)
								{
								    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="blog-item">
                                            <div class="post-format">
                                                <a asp-page="/ArticleDetails" asp-route-id="@item.Slug">
                                                    <img src="~/ProductPicture/@item.Picture" alt="@item.PictureAlt" title="@item.PictureTitle">
                                                </a>
                                            </div>
                                            <div class="post-info">
                                                <div class="category-blog">
                                                    <span>تاریخ انتشار مقاله : @item.PublishDate </span>
                                                </div>
                                                <h3 class="post-title">
                                                    <a asp-page="/ArticleDetails" asp-route-id="@item.Slug">@item.Title</a>
                                                </h3>
                                                <div class="main-info-post">
                                                    <p class="desc">
                                                        @item.ShortDescription
                                                    </p>
                                                </div>
                                                <h3 class="post-title">
                                                    <a asp-page="/ArticleDetails" asp-route-id="@item.Slug">ادامه مطلب</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
								}
                            </div>
							</div>
						</div>
						<div class="pagination clearfix style2 grid">
							<div class="nav-link">
								<a href="#" class="page-numbers"><i class="icon fa fa-angle-left" aria-hidden="true"></i></a>
								<a href="#" class="page-numbers">1</a>
								<a href="#" class="page-numbers">2</a>
								<a href="#" class="page-numbers current">3</a>
								<a href="#" class="page-numbers"><i class="icon fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
