@page "{id}"
@using Microsoft.EntityFrameworkCore
@model ServiceHost.Pages.ProductModel
@{
    ViewData["Title"] = "جزییات محصول";
}

<div class="main-content main-content-details single no-sidebar">
<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin">
                    <a asp-page="./Index">صفحه اصلی</a>
                </li>
                <li class="trail-item">
                    <a asp-page="/ProductCategory" asp-route-id="@Model.Product.CategorySlug">@Model.Product.Category</a>
                </li>
                <li class="trail-item trail-end active">
                    @Model.Product.Name
                </li>
            </ul>
        </div>
    </div>
</div>
<br/>
<div class="row">
<div class="content-area content-details full-width col-lg-9 col-md-8 col-sm-12 col-xs-12">
<div class="site-main">
<div class="details-product">
    <div class="details-thumd">
        <div class="image-preview-container image-thick-box image_preview_container">
            <img  id="img_zoom" data-zoom-image="~/ProductPicture/@Model.Product.Picture"
                 src="~/ProductPicture/@Model.Product.Picture" alt="@Model.Product.PictureAlt" title="@Model.Product.PictureTitle">
            <a href="#img_zoom"></a>
        </div>
        <div class="product-preview image-small product_preview">
            <div id="thumbnails" class="thumbnails_carousel owl-carousel" data-nav="true"
                 data-autoplay="false" data-dots="false" data-loop="false" data-margin="10"
                 data-responsive='{"0":{"items":3},"480":{"items":3},"600":{"items":3},"1000":{"items":3}}'>
                @foreach (var item in Model.Product.Pictures)
                {
                    <a href="#" data-image="~/ProductPicture/@item.Picture"
                       data-zoom-image="~/ProductPicture/@item.Picture" class="">
                        <img src="~/ProductPicture/@item.Picture" 
                             data-large-image="~/ProductPicture/@item.Picture" alt="@item.PictureAlt" title="@item.PictureTitle">
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="details-infor RightDirection">
        <h1 class="product-title">
            @Model.Product.Name
        </h1>
        <div class="stars-rating">
            <div class="star-rating">
                <span class="star-5"></span>
            </div>
            <div class="count-star">
                (7)
            </div>
        </div>
        <div class="availability">
            گروه محصول : 
            <a href="#">@Model.Product.Category</a>
        </div>
        <div class="availability">
            کد محصول : 
            <a href="#">@Model.Product.Code</a>
        </div>
        @if (@Model.Product.InStock)
        {
            <div class="availability">
                <span class="text-success">موجود در انبار</span>
            </div>
        }
        else
        {
            <div class="availability">
                <span class="text-danger">در انبار موجود نمی باشد</span>
            </div>
        }
        <br/>
        @if (Model.Product.HasDiscount)
        {
            <div class="ProductDetailPrice">
                <del>
                    @Model.Product.Price
                </del>
                                    
                __

                <ins>
                    @Model.Product.PriceWithDiscount تومان
                </ins>
            </div>
        }
        else
        {
            <div class="ProductDetailPrice">
                <ins>
                    @Model.Product.Price تومان
                </ins>
            </div>
        }
        <hr />
        <div class="product-details-description">
            <p>
                @Model.Product.ShortDescription
            </p>
        </div>
        <div class="group-button">
            <div class="yith-wcwl-add-to-wishlist">
                <div class="yith-wcwl-add-button">
                    <a href="#"> افزودن به علاقه مندی ها </a>
                </div>
            </div>
            <br/>
            <div class="">
                <div class="">
                    <span>تگ ها :
                        <a asp-page="/Search">@Model.Product.Keywords</a>
                    </span>
                </div>
            </div>
            <br/>
            <div class="quantity-add-to-cart">
                <div class="quantity">
                    <div class="control">
                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                        <input type="text" data-step="1" data-min="0" value="1" title="Qty" class="input-qty qty" size="4">
                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                    </div>
                </div>
                <button class="single_add_to_cart_button button">افزودن به سبد خرید</button>
            </div>
        </div>
    </div>
</div>
<div class="tab-details-product RightDirection">
    <ul class="tab-link">
        <li class="active">
            <a data-toggle="tab" aria-expanded="true" href="#product-descriptions">توضیحات محصول</a>
        </li>
        <li class="">
            <a data-toggle="tab" aria-expanded="false" href="#information">مشخصات محصول </a>
        </li>
        <li class="">
            <a data-toggle="tab" aria-expanded="false" href="#reviews">نظرات</a>
        </li>
    </ul>
    <div class="tab-container">
        <div id="product-descriptions" class="tab-panel active">
            <p>
                @Model.Product.Description
            </p>
        </div>
        <div id="information" class="tab-panel">
            <table class="table table-bordered">
                <tbody><tr>
                    <td>Size</td>
                    <td> XS / S / M / L</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>White/ Black/ Teal/ Brown</td>
                </tr>
                <tr>
                    <td>Properties</td>
                    <td>Colorful Dress</td>
                </tr>
                </tbody></table>
        </div>

        @await Component.InvokeAsync("Comment")


    </div>
</div>
<div style="clear: left;"></div>
</div>
</div>
</div>
</div>
</div>

