@model List<_01_LampshadeQuery.Contracts.Article.ArticleQueryModel>

@{
}

<div class="cleric-blog-wraap">
<div class="container">
<h3 class="custommenu-title-blog">
    جدیدترین مقالات
</h3>
<div class="cleric-blog default">
<div class="owl-slick equal-container nav-center"
     data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":true, "speed":800, "rows":1}'
     data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":3}},{"breakpoint":"1200","settings":{"slidesToShow":3}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"768","settings":{"slidesToShow":2}},{"breakpoint":"481","settings":{"slidesToShow":1}}]'>

    @foreach (var item in Model)
    {
        <div class="cleric-blog-item equal-element layout1">
    <div class="post-thumb">
        <a asp-page="/ArticleDetails" asp-route-id="@item.Slug">
            <img src="~/ProductPicture/@item.Picture" alt="@item.PictureAlt" title="@item.PictureTitle">
        </a>
        <div class="post-item-share">
            <a href="#" class="icon">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </a>
            <div class="box-content">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="blog-info RightDirection">
        <div class="blog-meta">
            <div class="post-date">
                @item.PublishDate
            </div>
            <span class="view">
                <i class="icon fa fa-eye" aria-hidden="true"></i>
                631
            </span>
            <span class="comment">
                <i class="icon fa fa-commenting" aria-hidden="true"></i>
                84
            </span>
        </div>
        <h2 class="blog-title">
            <a  asp-page="/ArticleDetails" asp-route-id="@item.Slug">@item.Title</a>
        </h2>
        <div class="main-info-post">
            <p class="description">
                @item.ShortDescription
            </p>
            <a class="readmore" asp-page="/ArticleDetails" asp-route-id="@item.Slug">ادامه مطلب</a>
        </div>
    </div>
</div>
    }
</div>
</div>
</div>
</div>