
@using _0_Framework.Application
@inject IAuthHelper AuthHelper
@model _01_LampshadeQuery.MenuModel


@{
}


<div class="header-nav-container">
    <div class="container">
        <div class="header-nav-wapper main-menu-wapper">
            <div class="vertical-wapper block-nav-categori">
                <div class="block-title">
                    <span class="icon-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="text">دسته بندی محصولات</span>
                </div>
                <div class="block-content verticalmenu-content">
                    <ul class="cleric-nav-vertical vertical-menu">
                        
                        @foreach (var item in Model.ProductCategories)
                        {
                            <li class="menu-item">
                                <a asp-page="/ProductCategory" asp-route-id="@item.Slug" class="cleric-menu-item-title" title="@item.Name">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="header-nav">
                <div class="container-wapper">
                    <ul class="cleric-clone-mobile-menu cleric-nav main-menu " id="menu-main-menu">
                        <li class="menu-item">
                            <a asp-page="./Index" class="cleric-menu-item-title" title="صفحه اصلی">صفحه اصلی</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a class="cleric-menu-item-title" title="محصولات">محصولات</a>
                            <span class="toggle-submenu"></span>
                            <ul class="submenu">
                                @foreach (var item in Model.ProductCategories)
                                {
                                    <li class="menu-item">
                                        <a asp-page="/ProductCategory" asp-route-id="@item.Slug">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="menu-item  menu-item-has-children">
                            <a title="مقالات">مقالات</a>
                            <span class="toggle-submenu"></span>
                            <ul class="submenu">
                               @foreach (var item in Model.ArticleCategories)
                               {
                                   <li class="menu-item">
                                       <a asp-page="/ArticleCategories" asp-route-id="@item.Slug">@item.Name</a>
                                   </li>
                               }
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a asp-page="/About" class="cleric-menu-item-title" title="About">درباره ما</a>
                        </li>
                        <li class="menu-item ">
                            <a asp-page="/Contact" class="cleric-menu-item-title" title="Contact">تماس با ما</a>
                        </li>
                       @if (AuthHelper.IsAuthenticated())
                       {
                           <li class="menu-item ">
                               <a asp-page="/Account" asp-page-handler="Logout" class="cleric-menu-item-title" title="خروج">خروج</a>
                           </li>
                       }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a asp-page="./Index">
                    <img src="~/Theme/assets/images/logo.png" alt="img">
                </a>
            </div>
        </div>
        <form method="get" asp-page="/Search">
        <div class="item item mobile-search-box has-sub">
            <a href="#">
                <span class="icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                
                <div class="header-searchform-box">
                    <form class="header-searchform">
                        <div class="searchform-wrap">
                            <input type="text" id="value" name="value" class="search-input" placeholder="جستجو در فروشگاه">
                            <input type="submit" class="submit button" value="جستجو">
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        </form>
        <div class="item mobile-settings-box has-sub">

            <div class="item menu-bar">
                <a class=" mobile-navigation  menu-toggle" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a asp-page="./Index">
                <span class="icon">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </span>
                صفحه اصلی
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a asp-page="./Index">
                <span class="icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </span>
                علاقه مندی ها
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="#">
                <span class="icon">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    <span class="count-icon">
                        0
                    </span>
                </span>
                <span class="text">سبد خرید</span>
            </a>
        </div>
        @if (AuthHelper.IsAuthenticated())
        {
            <div class="footer-device-mobile-item device-home device-user">
                <a asp-page="/Account" asp-page-handler="Logout">
                    <span class="icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    خوش آمدید
                </a>
            </div>
        }
        else
        {
            <div class="footer-device-mobile-item device-home device-user">
                <a asp-page="/Account">
                    <span class="icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    ورود | ثبت نام
                </a>
            </div>
        }
        
    </div>
</div>